.more {
  background-color: #eee;

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 256px;
    }
  }

  &__item {
    margin: 0 20px;
    padding: 0 10px;
    border-bottom: 1px solid #d6d6d6;
    text-align: center;

    &:last-child {
      border-bottom: 0;
    }

    @media (min-width: 768px) {
      margin: 0;
      padding: 0 40px;
      border-bottom: 0;
    }
  }

  &__heading {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 13px;
    font-size: 18px;
    line-height: 26px;
  }

  &__number {
    display: block;
    padding-bottom: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #333;
  }

  &__text {
    margin: 0;
    padding-bottom: 30px;
    line-height: 21px;
    font-weight: 400;
    color: #333;
  }
}
