.welcome {
  padding: 0 20px;
  text-align: center;

  @media (min-width: 768px) {
    padding: 0 130px;
  }

  &__heading {
    margin: 0;
    padding-top: 38px;
    padding-bottom: 32px;
    font-size: 18px;
    line-height: 26px;

    @media (min-width: 768px) {
      padding-top: 59px;
      padding-bottom: 34px;
      font-size: 21px;
    }
  }

  &__descr {
    margin: 0;
    padding-bottom: 26px;
    font-weight: 400;
    color: #333;

    @media (min-width: 768px) {
      padding-bottom: 52px;
    }
  }
}
